.property-title {
	font-size: 1.6em; 
	color: rgba(0, 0, 0, 1);
	padding-bottom: 10px;
	font-weight: 700;
}
.property-images {
	display: grid; 
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}
.property-secondary-images {
	display: grid; 
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: stretch;
	grid-column-gap: 15px;
	grid-row-gap: 5px;
}
// mobile-style
@media screen and (max-width: 600px) {
	.property-title {
		font-size: 1.2em; 
	}
	.property-images {
		grid-template-columns: auto;
		grid-template-rows: 1fr 1fr;
	}
}