body {
  margin: 0;
  overflow: hidden;
  background-color: rgba(235, 235, 235, 1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.App {
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  overflow: hidden;
}