.property-wrapper {
	display: grid;
	grid-gap: 10px;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 80%;
	left: 0;
	z-index: 10;
	background-color: rgba(255, 255, 255, 1);
	padding-top: 20px;
	padding-right: 15%;
	padding-left: 15%;
}
.circle-cross-wrapper {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	cursor: pointer;
}
.circle-cross {
  width: 20px;
  cursor: pointer;
}
// mobile-style
@media screen and (max-width: 600px) {
	.property-wrapper {
		padding-right: 20px;
		padding-left: 20px;
	}	
}