.card-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 60%;
	left: 0;
	z-index: 5;
	background-color: rgba(255, 255, 255, 1);
	display: grid;
	grid-template-rows: min-content auto;
}

// mobile-style
@media screen and (max-width: 600px) {
	.card-wrapper {
		min-height: 100vh;
		overflow-y: scroll;
	}
}