.logo-wrapper {
	position: absolute;
	left: 20px;
	top: 10px;
	height: 40px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .12); 
	border-radius: 10px;
	padding: 12px;
	padding-bottom: 7px;
}