.property-images {
	display: grid; 
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	overflow: hidden;
}
.cover-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.secondary-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.property-secondary-images {
	display: grid; 
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 5px;
	height: 100%;
	overflow: hidden;
}
@media screen and (max-width: 600px) {
	.cover-img {
		max-height: 100%;
	}
	.property-images {
		grid-template-columns: auto;
		grid-template-rows: min-content auto;
	}
}